./terraform.tfstate
./terraform.tfstate.backup
.terraform/
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.terraform.lock.hcl
var.tf
*.log
*.out
*.plan
.env
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
addirional_res
node_modules
temp/
